.about {
  margin-top: 5%;
  padding-top: 10%;

  .about-header {
    margin-bottom: 5%;

    h1 {
      color: white;
      position: relative;
      font-size: 2.5rem;

      width: fit-content;
    }

    h1::after {
      content: "";
      position: absolute;
      bottom: 25px;
      left: 22rem;
      transform: translateX(-50%);
      border-top: 1px solid white;
      width: 350px;
    }
  }

  .about-description {
    color: #b1b1b1;
    font-size: 1.4rem;
    text-align: left;
    width: 70%;

    .work-link {
      color: #64ffda;
    }
  }
}

.skills {
  color: #b1b1b1;
  font-size: 1.4rem;
  display: grid;
  grid-template-columns: repeat(2, minmax(140px, 200px));
  justify-content: left;
  list-style: none;
  padding: 0;
}

.custom-list-item {
  position: relative;
  padding-left: 1.5em;
  margin-bottom: 1em;

  &:before {
    content: "▹";
    position: absolute;
    left: 0;
    color: #64ffda;
  }
}

a {
  text-decoration: none;
}

@media screen and (max-width: 600px) {
  .about {
   

    .about-description {
      margin: auto;
      width: 100%;
    }

    .skills {
      margin: auto;
      text-align: left;
    }
    .about-header h1 {
      margin: auto;
      text-align: center;
    }

    .about-header h1::after {
      display: none;
    }
  }
}
