.contact-father {
  margin-top: 12%;
}

.contact-father .btn-outline-primary {
  color: #64ffda !important;
  border-color: #64ffda !important;
  &:hover {
    background-color: #64ffda !important;
    color: #fff !important;
    border-color: #64ffda !important;
  }
}

.contact {
  height: 70vh;
  text-align: center;
  .contact-description {
    padding-top: 10%;
  }

  .contact-header h1 {

    position: relative;

    width: fit-content;
  }

  .contact-header h1::after {
    content: "";
    position: absolute;
    bottom: 25px;
    left: 15rem;
    transform: translateX(-50%);
    border-top: 1px solid white;
    width: 200px;
  }

  .title h2 {
    font-size: 1.2rem;
    color: var(--color-green);
  }

  .get-touch p {
    font-size: 1.5rem;
    
  }

  .statement p {
    color: var(--color-slate);
    font-size: 1.2rem;
  }

  button {
    margin-top: 2%;
  }
}

@media screen and (max-width: 600px) {

  .contact-header h1::after {
    display: none;
  }

  .contact-header h1 {
    margin: auto;
    text-align: center;
  }
}
