header {
    height: 100vh;
    padding-top: 7rem;
    overflow: hidden;
    
}

.header__container {
    font-size: 35px;
    text-align: left;
    height: 100%;
    position: relative;
    
    
}

.highlighted {
    color: var(--color-bg-variant);
  }

.large-text {
    font-size: 37px;
    color: white;
    
}

.scroll__down {
    color: #42a99a;
    position: relative;
    right: -57rem;
    bottom: -25rem;
    transform: rotate(90deg);
    font-weight: 10;
    font-size: 14px;
    
    padding-left: 25%;
}

.description__header {
    font-size: 35px;
}


/* CTA */

.cta {
    margin-top: 7rem;
    display: flex;
    gap: 1.8rem;
    justify-content: left;
    padding-right: 85%;
}

.cta .btn {
    font-size: 11px;
}


/* /Socials */

.header__socials-container {
    content: "";
    display: block;
    position: relative;
    right: 67%;
    top: 800px;
    transform: rotate(90deg);
    font-weight: 10;
}

.github {
    content: "------";
    display: block;
    border-bottom: 1px solid white;
    margin: 10px 0;
    width: 50%;
  }
  
.header__social {
    display: inline-block;
    color: var(--color-bg-variant);
    font-size: 20px;  /* reduce the size of the icons to 20px */
    text-decoration: none;
    transition: color 0.2s;
    margin-right: 15px;
  }

  

/* /sections */

.header__socials {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.2rem;
    position: absolute;
    left: 0;
    bottom: 3rem;
}

.header__social-divider {
    margin: 0 10px;
    display: inline-block;
  }


/* Medium Devices */
@media screen and (max-width:1024px) {
    header {
        height: 68vh;
    }
}
/* Small Devices */
@media screen and (max-width:600px) {
    .header__container {
        text-align: center;
    }
}

.header_socials, .scroll_down {
    display: none;
}

.header__container h6 {
    margin-top: 40px;
}

/* Medium Devices */
@media screen and (max-width:1024px) {
    .about__container {
        margin: 1rem 0 1.5rem;
    }
}

/* Small Devices */
@media screen and (max-width:600px) {
    .about__container {
        text-align: center;
    }
}

