.about__container p {
    
    width: 70%;
    color: var(--color-grey);
    text-align: center;
    margin: auto;

}

.about__me {
  display: relative;
  margin-top: 5%;
}

.about__line {
    display: left;
}
.h5-container {
    padding-left: 2%;
    padding-top: 2%;
    right: 50%;
    color: white;
}

.skills-item svg {
    margin-right: 10px;
  }

.skills-item {
    display: flex;
  align-items: center;
  
}

.skills-container {
  margin-top: 30px;
  margin-left: 470px;
  display: grid;
  grid-template-columns: repeat(3, 15%);
  grid-gap: 15px;
  }

  .skills-item {
   
  }

  .h6-container h6 {
    margin-top: 30px;
    margin-left: 30%;
    font-size: 20px;
  }
  

  


/* Medium Devices */
@media screen and (max-width:1024px) {
    .about__container {
        margin: 1rem 0 1.5rem;
    }
}

/* Small Devices */
@media screen and (max-width:600px) {
    .about__container {
        text-align: center;
    }
}

