
.container__contact {
    position: relative;
    top: 20%;
    justify-content: center;
    
}

.touch > h3 {
    color: white;
    position: relative;
    left: 840px;
    margin-bottom: 15px;
    font-weight: -700;
}

.description__contact {
    width: 550px;
}

.description__contact > p {
    text-align: center;
    position: relative;
    left: 685px;
    margin-bottom: 30px;
}


.what > h3 {
    position: relative;
    left: 900px;
    font-size: 16px;
    margin-bottom: 20px;
    color: var(--color-bg-variant);
    font-weight: 300;
}

.hello {

    display: flex;
    gap: 1.2rem;
    justify-content: center;
    margin-left: 40px;
}
