
.container__contact {
    position: relative;
    top: 20%;
    justify-content: center;
    
}

.touch > p {
    color: white;
    text-align: center;
    margin-bottom: 15px;
    font-size: 35px;
    
    font-weight: bold;
}


.description__contact > p {
    padding: 0 35%;
    margin-bottom: 25px;
}


.what > p {
    text-align: center;
    font-size: 18px;
    margin-bottom: 20px;
    color: var(--color-bg-variant);
    font-weight: 300;
}

.hello {

    display: flex;
    gap: 1.2rem;
    justify-content: center;
    margin-left: 10px;
}

.description__contact {
    text-align: center;
}