.tabs {
    display: flex;
    flex-direction: row;
    margin-top: 200px;
    margin-left: 150px
    
  
  }
  
  .tab-list {
    margin-left: 300px;
    display: flex;
    flex-direction: column;
    
  }
  
  .tab-item {
    display: block;
    width: 100px;
    padding: 20px;
    background-color: #f5f5f5;
    border: none;
    outline: none;
    cursor: pointer;
    text-align: left;
  }
  
  .tab-item.active {
    background-color: transparent;
    border-right: 1.5px solid var(--color-bg-variant);
    transition: 1s ease-in;
    border-radius: 4px;
  }
  
  .tab-content {
    display: flex;
    flex-direction: column;
    width: 40%; /* fixed width of 40% */
    min-height: 0; /* allow height to be variable */
    margin-left: 5%;
  }
  
  .tab-item,
  .tab-content {
    background-color: transparent;
  }
  
  .tab-list > button {
    color: var(--color-grey);
  }
  
  
  .tab-content .h2-wrapper1 {
    margin-bottom: 10px;
    
  }
  
  
  .tab-content .h2-wrapper1 > h2 {
    font-size: 25px;
    color: white;
  
  }
  
  .tab-content .dates {
    margin-bottom: 10px;
  }